#######################################
#######################################

Welcome to {{ inventory_hostname }}

#######################################
#######################################

{{ motd_text }}
